body{ background-color:#E6E6E6;}

header{background-color:white;}

h1 {background-color: #C4C4C4; color: #005677;}
h2 {background-color: #C4C4C4; color: #005677;}

footer{background-color: #005677; text-align:center}




